
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: NONE;
}
body{
    background-color: rgb(228, 228, 228);
}
.container{
    width: 1200px;
    height: 800px;
    border: 0.1px solid gray;
    background-color:rgb(253, 253, 252);
    position: relative;
    float: right;
    left: -20%;
    top: 100px;
    box-shadow: 4px 4px 20px 3px gray

}
/* Navigation */
header{
    width: 100%;
    height: 60px;
}

.container .cog i {
    margin: 30px;
    cursor: pointer;
    position: absolute;
    font-size: 29px;
   
    box-shadow: -1px 5px 10px 0px black;
}

header p{
    position: absolute;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}
nav ul{
    margin-left:40%;
    margin-top:2%;
    position: absolute;
  
}
nav ul li{
    float: left;
    margin: 0px 10px;
    display:block;

}
ul li i,a{
    font-size: 12px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
ul li:nth-of-type(1) a,i{
   color:rgb(223, 181, 104);
}
ul li:nth-of-type(1)  i{
    color:rgb(223, 181, 104);
 }
 




/* PICTURE */

picture{
    width: 800px;
    height: 300px;
}

picture img{
    height: 400px;
    left:5%;
    width: 90%;
    position: absolute;
    display: inline-block
}


picture .word {
    position: absolute;
    z-index: 4;
    left: 30%;
    top:35%;
  
}
picture .word h1{
color:white;
z-index: 3;
float: left;
margin: 0px 10px;
font-size: 90px
}
picture .word h1:nth-of-type(2){
    color:rgb(223, 181, 104)
}

picture .word p{
    position: absolute;
    top: 100px;
    color: rgb(208, 208, 208);
    font-size: 16px;
}


/* bottom */
.bottom{
    width: 100%;
    height:200px;
    position: absolute;
    bottom: 20px;
}
.bottom span{
    position: absolute;
    margin-left: 20px
}
.col-md-4{
    float: left;
    width: 180px;
    height: 180px;
    margin-left: 20px;
}
.col-md-4 i{
position: absolute;
font-size: 90px;
margin:40px;
}
.col-md-4:nth-of-type(1) h2{
   bottom: 50px;
    width: 400px;
    font-size: 40px;
}
.col-md-4:nth-of-type(2) {
   margin-left: 200px;}